.app {
  position: relative;
  perspective: 10px;
  perspective-origin: top;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  &::-webkit-scrollbar {
    //chrome
    display: none;
  }
  -ms-overflow-style: none; // IE Edge
  scrollbar-width: none; //firefox
}
